/* Dialog Header */
.details-dialog-title {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #1976d2;
}

.details-title-text {
  color: #0d47a1;
  font-weight: 700;
}

.details-close-btn {
  color: red;
}

/* Content */
.details-dialog-content {
  background-color:white; /* light yellow background */
}

.details-section {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #e3f2fd; /* light blue card */
  border: 1px solid #1389ea;
}

.details-section-heading {
  color: #555;
  font-weight: 600;
  margin-bottom: 6px;
}

/* Actions */
.details-actions {
  justify-content: space-between;
  padding: 16px;
}

.details-edit-btn {
  background-color: #e3f2fd !important;
  color: #1976d2 !important;
  font-weight: 600 !important;
}

.details-edit-btn:hover {
  background-color: #bbdefb !important;
}

.details-delete-btn {
  background-color: #ffebee !important;
  color: #d32f2f !important;
  font-weight: 600 !important;
}

.details-delete-btn:hover {
  background-color: #ffcdd2 !important;
}


/* =======================
   Dark Mode Styles
======================= */
.details-dialog-paper.dark {
  background-color: #393737cc !important;
  color: #fff !important;
}

.details-dialog-paper.dark .details-dialog-title {
  background-color: #393737cc !important;
  border-bottom: 2px solid #fff !important;
}

.details-dialog-paper.dark .details-title-text {
  color: #fff !important;
}

.details-dialog-paper.dark .details-dialog-content {
  background-color: #393737cc !important;
  color: #fff !important;
}

.details-dialog-paper.dark .details-section {
  background-color: #555 !important;
  border: 1px solid #888 !important;
  color: #fff !important;
}

.details-dialog-paper.dark .details-section-heading {
  color: #fff !important;
}

.details-dialog-paper.dark .details-actions {
  background-color: #393737cc !important;
  border-top: 1px solid #fff !important;
}
